body {
  background-color: #eea29a;
  padding: 30px;
  color:black;
}
nav {
  padding: 30px;
  background-color: #c94c4c;
  position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
  color: black;
}
