body {
  background-color: #eea29a;
  padding: 30px;
  color:black;
}
nav {
  padding: 30px;
  background-color: #c94c4c;
  position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
  color: black;
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://images.unsplash.com/photo-1445499348736-29b6cdfc03b9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efe39024f3bb67566f0debc82b292464&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
H1 {
  text-align: center;
}
main {
  padding-top: 15px;
}
aside {
  padding: 30px;
  background-color: white;
  color: black;
}
footer {
  padding: 30px;
  background-color: #f7786b;
  color: white;
}
