body {
  background-color: #eea29a;
  padding: 30px;
  color:black;
}
nav {
  padding: 30px;
  background-color: #b2b2b2;
  position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
  color: white;
}
